table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 7px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

.pagination-footer {
	float: right;
	padding-right: 15px;
	padding-top: 10px;
}

.pagination-page {
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #007CB9;
	background-color: #a7d0e4;
	margin-left: 10px;
	margin-right: 10px;
}
.header {
	padding: 8px;
}
.disabled {
	pointer-events: none;
	color:grey;
	cursor: default;
 }
 .enabled {
	cursor: default;
 }

